.footer {
    padding: 63px 0 80px 0;
    background: rgba(205, 16, 255, 0.05);

    &__header {
        display: grid;
        grid-template-columns: 25% 75%;
        align-items: center;
        margin-bottom: 50px;
        gap: 15px;
        @include mobile {
            grid-template-columns: 1fr;
            gap: 20px;
        }
    }

    &__logo {
        cursor: pointer;
        @include mobile {
            display: flex;
            justify-content: center;
        }
    }

    &__form {
        padding: 0;
        position: relative;
    }

    &__input {
        width: 100%;
        background: $color-white;
        box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.0501257);
        border-radius: 33px;
        border: 0;
        outline: 0;
        padding: 23px 0 23px 40px;
        padding-right: 180px;
        @include text($font-primary, 400, 16px, 20px, $color-body);
        &::placeholder {
            @include text($font-primary, 400, 16px, 20px, $color-text-secondary);
            opacity: 0.5;
        }
    }

    &__btn {
        position: absolute;
        padding: 15px 30px;
        border-radius: 33px;
        @include text($font-primary, 700, 16px, 20px, $color-white);
        background: $color-grad-primary;
        border: 0;
        outline: 0;
        right: 8px;
        top: 50%;
        transform: translateY(-50%);
        cursor: pointer;
    }

    &__item {
        padding: 0 100px 0 260px;
        display: grid;
        grid-template-columns: 2fr 1fr;
        @include tablet {
            grid-template-columns: 1fr;
            gap: 30px;
        }
        @include tablet-small {
            padding: 0 50px 0 180px;
        }
        @include mobile {
            padding: 0 20px 0 30px;
        }
    }

    &__title {
        @include text($font-primary, 700, 16px, 20px, $color-text-primary);
        margin-bottom: 20px;
    }

    &__menu {
        columns: 2;
        @include desktop-small {
        }
    }

    &__li {
        margin-bottom: 20px;
    }

    &__a {
        @include text($font-primary, 400, 16px, 20px, $color-text-secondary);
        &:hover {
            color: $color-primary;
        }
    }
}
